In [202]:
import pandas as pd
import pygsheets

In [218]:
#Set to 1 to print diagnostic info
debugFlag = 0
#Set to 1 to pull info from RawNames sheet, join GPS, update, and export
updateGPSFlag = 0

In [219]:
gc = pygsheets.authorize(service_file='file.json')
sh = gc.open('DashData')

if debugFlag:
    for x in sh:
        print(x)

for x in sh:
    title = x.title
    if(title=="DeliveriesOld"):
        sheets_OldDelDF = x.get_as_df()
    elif(title=="Deliveries"):
        sheets_DelDF = x.get_as_df()
    elif(title=="Days"):
        sheets_DaysDF = x.get_as_df()
    elif(title=="Weeks"):
        sheets_WeeksDF = x.get_as_df()
    elif(title=="RawNames"):
        sheets_RawNamesDF = x.get_as_df()
    elif(title=="GPS"):
        #for import
        sheets_GPSDF = x.get_as_df()
        #for export
        wks_gps = x
    else:
        print("UNCAUGHT SHEET DETECTED: ", x)

# Extracts relevant worksheets into dataframes
#sheets_OldDelDF    = sh[0].get_as_df()
#sheets_DelDF       = sh[1].get_as_df()
#sheets_DaysDF      = sh[2].get_as_df()
#sheets_WeeksDF     = sh[3].get_as_df()
#sheets_RawNamesDF  = sh[4].get_as_df()
#sheets_GPSDF       = sh[5].get_as_df()

UNCAUGHT SHEET DETECTED:  <Worksheet 'Import' index:6>
UNCAUGHT SHEET DETECTED:  <Worksheet 'Lifetime Deliveries' index:7>
UNCAUGHT SHEET DETECTED:  <Worksheet 'Days Old' index:8>
UNCAUGHT SHEET DETECTED:  <Worksheet 'Weeks Old' index:9>

In [220]:
def dollars_to_floats(df, columns):
    for x in columns:
        df[x] = df[x].str.replace('$', '')
        df[x] = df[x].str.replace(',', '')
        df[x] = df[x].astype(float)
        
def hours_to_floats(df, columns):
    for x in columns:
        for index, row in df.iterrows():
            active = row[x]
            activeH = float(active[:active.index(":")])
            activeM = round(float(active[active.index(":")+1:active.index(":")+3])/60, 2)
            active = activeH + activeM
            df.at[index, x] = active
        df[x] = df[x].astype(float)
            
            

#Currently only valid for 2023
def date_to_timestamp(df, column):
    for index, row in df.iterrows():
        df.at[index, column] = pd.Timestamp('2023/' + row[column])
        
        
#Currently only valid for 2023
#Update to handle orders that happen past midnight
def time_to_timestamp(df, DateCol, TimeCols):
    for index, row in df.iterrows():
        df.at[index, TimeCols[0]] = pd.Timestamp('2023/' + row[DateCol] + " " + row[TimeCols[0]])
        df.at[index, TimeCols[1]] = pd.Timestamp('2023/' + row[DateCol] + " " + row[TimeCols[1]])

In [221]:
if updateGPSFlag:
    testingDF = sheets_RawNamesDF.copy()
    testingDF = testingDF.drop_duplicates(subset=["Restaurant Name", "RAW DATA"])
    testingDF = testingDF[["Restaurant Name", "RAW DATA", "Note"]]
    testingDF = testingDF.sort_values(by=['Restaurant Name', "RAW DATA"])
    newNamesDF = testingDF.merge(sheets_GPSDF, how='left')
    for index, row in newNamesDF.iterrows():
        if isinstance(row['Address'], float):
            if not row['Note'] == "":
                newNamesDF.at[index, "Address"] = row["Note"]
            else:
                print("Note not found for:", index)
        if (row['Address'] == ""):
            newNamesDF.at[index, "Resolved"] = "0"
        else:
            newNamesDF.at[index, "Resolved"] = "1"
    newNamesDF = newNamesDF.drop(columns=["Note"])        
    #newNamesDF.to_csv('RestGroups.csv', index=False)
    wks_gps.set_dataframe(newNamesDF,(1,1))

In [222]:
#sheets_results = all deliveries
#sheets_DelDF = v3
sheets_frames = [sheets_OldDelDF, sheets_DelDF]
sheets_result = pd.concat(sheets_frames)
sheets_result.reset_index(drop=True, inplace=True)

In [223]:
#Update this cell to manipulate all values from strings into desired format
#Go through, comment all hours_to_floats


#All
dollars_to_floats(sheets_result, ["Total", "Base", "Tip", "Peak Bonus"])
#V3 only
dollars_to_floats(sheets_DelDF, ["Total", "Base", "Tip", "Peak Bonus"])
#Days
dollars_to_floats(sheets_DaysDF, ["Total", "Base", "Tip"])
hours_to_floats(sheets_DaysDF, ["Dash", "Active"])
#Weeks
dollars_to_floats(sheets_WeeksDF, ["Total", "Base", "Tip", "Adj pay", "Other", "Pre Total"])
hours_to_floats(sheets_WeeksDF, ["Dash", "Active"])

/tmp/ipykernel_5390/1965361392.py:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df[x] = df[x].str.replace('$', '')

In [224]:
sheets_DelDF.tail()

,ID,Date,Restaurant Name,Total,Base,Tip,Peak Bonus,Stacked,Start Time,Distance,End Time,Duration,Version
408,983,7/26,Chick-fil-A,13.25,5.75,7.5,0.0,,5:28:00 PM,4.0,5:54:00 PM,26,3
409,984,7/26,Maans Mediterranean Grill and Kabobery,10.50,5.00,5.5,0.0,981,6:20:00 PM,4.9,6:43:00 PM,23,3
410,985,7/26,McDonald's,9.00,5.00,4.0,0.0,,9:19:00 PM,2.9,9:36:00 PM,17,3
411,986,7/26,Chipotle,5.50,3.50,2.0,0.0,978,8:28:00 PM,5.9,8:42:00 PM,14,3
412,987,7/26,Chick-fil-A,8.00,7.00,1.0,0.0,,6:46:00 PM,6.3,7:08:00 PM,22,3

In [225]:
#Convert to float, all non converted yield NaN
sheets_DelDF["Duration"] = pd.to_numeric(sheets_DelDF["Duration"], errors='coerce')
#Drop NaN
sheets_DelDF = sheets_DelDF[sheets_DelDF["Duration"].notna()]


#sheets_DelDF["Duration"] = sheets_DelDF["Duration"].astype(float)
sheets_DelDF["Est Adj"] = (sheets_DelDF["Duration"]/60*18 
                            + sheets_DelDF["Distance"]*(0.34) ) - sheets_DelDF["Base"]
    
sheets_DelDF.tail()

/tmp/ipykernel_5390/2053155319.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sheets_DelDF["Est Adj"] = (sheets_DelDF["Duration"]/60*18

,ID,Date,Restaurant Name,Total,Base,Tip,Peak Bonus,Stacked,Start Time,Distance,End Time,Duration,Version,Est Adj
408,983,7/26,Chick-fil-A,13.25,5.75,7.5,0.0,,5:28:00 PM,4.0,5:54:00 PM,26.0,3,3.410
409,984,7/26,Maans Mediterranean Grill and Kabobery,10.50,5.00,5.5,0.0,981,6:20:00 PM,4.9,6:43:00 PM,23.0,3,3.566
410,985,7/26,McDonald's,9.00,5.00,4.0,0.0,,9:19:00 PM,2.9,9:36:00 PM,17.0,3,1.086
411,986,7/26,Chipotle,5.50,3.50,2.0,0.0,978,8:28:00 PM,5.9,8:42:00 PM,14.0,3,2.706
412,987,7/26,Chick-fil-A,8.00,7.00,1.0,0.0,,6:46:00 PM,6.3,7:08:00 PM,22.0,3,1.742

In [226]:
sheets_DaysDF.tail()
#sheets_DaysDF.dtypes

,Date,Total,Base,Tip,Start (24),End (24),Active,Dash,Offers,Deliveries,Mileage Start,Mileage End,Total Mileage,Active Mileage,Version,Pauses
50,7/20,110.50,58.5,52.00,16:58,21:46,3.65,4.80,12,13,70346,70397,51,66.6,3,0
51,7/21,214.88,103.5,111.38,13:43,22:37,6.28,8.90,20,21,70401,70507,106,90.0,3,"(4:02pm, 4:21pm)"
52,7/22,247.23,128.5,118.73,12:57,22:59,7.10,10.02,24,25,70513,70647,134,126.9,3,"(3:54pm, 4:20pm)"
53,7/23,201.00,102.0,99.00,12:39,20:23,5.18,7.73,21,21,70658,70769,111,103.2,3,"(5:18pm, 5:41pm)"
54,7/26,103.00,55.0,48.00,17:25,21:37,3.03,4.18,11,11,70831,70887,56,50.0,3,"(7:30pm, 7:50pm)"

In [227]:
#Interesting, I don't think peak pay is factored into pay adjustments, but worth check
sheets_DaysDFv3 = sheets_DaysDF.copy()
sheets_DaysDFv3 = sheets_DaysDFv3[sheets_DaysDFv3["Version"] == 3]
sheets_DaysDFv3["Est Adj"] = (sheets_DaysDFv3["Active"]*(18) 
                            + sheets_DaysDFv3["Active Mileage"]*(0.34) ) - sheets_DaysDFv3["Base"]

In [228]:
sheets_DaysDFv3.tail()

,Date,Total,Base,Tip,Start (24),End (24),Active,Dash,Offers,Deliveries,Mileage Start,Mileage End,Total Mileage,Active Mileage,Version,Pauses,Est Adj
50,7/20,110.50,58.5,52.00,16:58,21:46,3.65,4.80,12,13,70346,70397,51,66.6,3,0,29.844
51,7/21,214.88,103.5,111.38,13:43,22:37,6.28,8.90,20,21,70401,70507,106,90.0,3,"(4:02pm, 4:21pm)",40.14
52,7/22,247.23,128.5,118.73,12:57,22:59,7.10,10.02,24,25,70513,70647,134,126.9,3,"(3:54pm, 4:20pm)",42.446
53,7/23,201.00,102.0,99.00,12:39,20:23,5.18,7.73,21,21,70658,70769,111,103.2,3,"(5:18pm, 5:41pm)",26.328
54,7/26,103.00,55.0,48.00,17:25,21:37,3.03,4.18,11,11,70831,70887,56,50.0,3,"(7:30pm, 7:50pm)",16.54

In [229]:
sheets_WeeksDFv3 = sheets_WeeksDF.copy()
sheets_WeeksDFv3 = sheets_WeeksDFv3[sheets_WeeksDF["Version"] == 3]
sheets_WeeksDFv3["Est Adj"] = (sheets_WeeksDFv3["Active"]*(18) 
                            + sheets_WeeksDFv3["Active Mileage"]*(0.34) ) - sheets_WeeksDFv3["Base"]

In [243]:
sheets_WeeksDFv3.tail()

,Dates,Base,Tip,Adj pay,Other,Pre Total,Total,Active,Dash,Deliveries,Total Mileage,Active Mileage,Version,Est Adj
11,6/12 - 6/18,116.00,101.05,34.67,6.50,217.05,258.22,6.43,9.57,21,147,113.6,3,38.364
12,6/19 - 6/25,637.25,475.09,240.02,6.25,1112.34,1358.61,38.60,51.23,124,633,619.4,3,268.146
13,7/3 - 7/9,114.25,105.10,54.99,7.75,219.35,282.09,7.83,10.17,23,108,98.1,3,60.044
14,7/17 - 7/23,454.75,425.11,151.31,3.38,879.86,1034.55,26.22,37.30,91,471,438.6,3,166.334
15,7/24 - 7/30,55.00,48.00,0.00,0.00,103.00,103.00,11.18,11.18,11,56,50,3,163.24

In [231]:
#Percentage of customers who tip
numUntipped = (sheets_result["Tip"] == 0.0).sum()
numTipped = (sheets_result["Tip"] != 0.0).sum()
percTipped = round((numTipped/(numUntipped+numTipped)), 3)
print(percTipped*100, "% of customers tip")

90.5 % of customers tip

In [232]:
tempDF = sheets_result.copy()
tempDF = tempDF[sheets_result["Restaurant Name"].duplicated(keep=False) == True]
tempDF = tempDF.groupby(["Restaurant Name"]).agg({"Base": "mean", "Tip": "mean"})
tempDF = tempDF.round({'Pay': 2, 'Tip': 2})
tempDF.sort_values("Tip", ascending=False)

                            Base    Tip
Restaurant Name
Albertsons              4.583333  12.39
Hunter Steakhouse      10.000000  11.50
L&L Hawaiian Barbecue   6.750000   9.50
Chin's Szechwan         5.875000   9.25
Mangia e Bevi           6.250000   9.00
...                          ...    ...
Lollicup Fresh          4.250000   1.88
Carl's Jr.              4.416667   1.33
Sizzler                12.750000   1.25
Advanced Auto Parts     5.562500   0.00
FTD                     3.250000   0.00

[98 rows x 2 columns]

In [233]:
tempDF = sheets_WeeksDF.copy()
#double bracket on iloc returns a df instead of series
tempDF = tempDF.iloc[[-1]]
#dollars_to_floats(tempDF, ["Total"])
#hours_to_floats(tempDF, ["Dash"])
hourlyRate = tempDF["Total"]/tempDF["Dash"]
float(tempDF["Dash"])
#Hourly rate is touple? just print [1] then
print("$", hourlyRate)

$ 16    24.90046
dtype: float64

In [234]:
#So float(var) converts, but series.astype(float) is for series in df

In [235]:
#dollars_to_floats(sheets_WeeksDF, ["Pre Total"])
#hours_to_floats(sheets_WeeksDF, ["Active"])

sheets_WeeksDF["pretotalactiveratio"] = sheets_WeeksDF["Pre Total"]/sheets_WeeksDF["Active"]
sheets_WeeksDF.sort_values(by=["pretotalactiveratio"])

,Dates,Base,Tip,Adj pay,Other,Pre Total,Total,Active,Dash,Deliveries,Total Mileage,Active Mileage,Version,pretotalactiveratio
15,7/24 - 7/30,55.00,48.00,0.00,0.00,103.00,103.00,11.18,11.18,11,56,50,3,9.212880
2,4/10 - 4/16,130.75,96.13,61.07,0.00,226.88,287.95,8.63,11.17,28,,,1,26.289687
13,7/3 - 7/9,114.25,105.10,54.99,7.75,219.35,282.09,7.83,10.17,23,108,98.1,3,28.014049
4,4/24 - 4/30,430.00,299.73,138.76,2.62,729.73,871.11,25.50,41.17,84,,,1,28.616863
12,6/19 - 6/25,637.25,475.09,240.02,6.25,1112.34,1358.61,38.60,51.23,124,633,619.4,3,28.817098
0,3/27 - 4/2,108.50,88.00,40.96,0.00,196.50,237.46,6.70,10.92,22,,,1,29.328358
3,4/17 - 4/23,382.50,248.41,105.05,0.00,630.91,735.96,21.33,32.30,68,,,1,29.578528
16,TOTALS:,5119.25,4053.88,1505.80,32.75,9173.13,10711.68,300.45,430.18,985,2217,2007.88,-,30.531303
7,5/15 - 5/21,303.75,239.25,99.27,0.00,543.00,642.27,17.53,25.40,64,,,2,30.975471
10,6/5 - 6/11,197.25,185.09,65.38,0.00,382.34,447.72,11.77,15.75,41,183,161.6,3,32.484282
6,5/8 - 5/14,758.25,567.84,155.48,6.25,1326.09,1487.82,40.58,58.13,138,,,2,32.678413
5,5/1 - 5/7,618.50,445.32,121.74,0.00,1063.82,1185.56,32.40,50.67,114,,,1,32.833951
14,7/17 - 7/23,454.75,425.11,151.31,3.38,879.86,1034.55,26.22,37.30,91,471,438.6,3,33.556827
9,5/29 - 6/4,342.75,309.88,115.30,0.00,652.63,767.93,19.40,26.53,63,389,333.5,3,33.640722
1,4/3 - 4/9,264.25,230.69,58.17,0.00,494.94,553.11,14.68,22.03,55,,,1,33.715259
11,6/12 - 6/18,116.00,101.05,34.67,6.50,217.05,258.22,6.43,9.57,21,147,113.6,3,33.755832
8,5/22 - 5/28,205.50,189.19,63.63,0.00,394.69,458.32,11.65,16.67,38,230,193.08,3,33.878970

In [236]:
#Dollars Earned vs Miles Driven doodle
#$ to float
#drop non numeric Miles values, then convert column to float
#agg sum Total and Miles, by restaurant name (then round)
#create new column as Total/Miles
#sort low to high
tempDF = sheets_DelDF.copy()
#dollars_to_floats(tempDF, ["Total"])
#display(tempDF)
tempDF = tempDF[tempDF.Distance!="-"]
tempDF["Distance"] = tempDF["Distance"].astype(float)
tempDF = tempDF.groupby(["Restaurant Name"]).agg({"Total": "sum", "Distance": "sum"})
tempDF = tempDF.round({'Base': 2, 'Tip': 2})
tempDF["DollarMilesRatio"] = tempDF["Total"]/tempDF["Distance"]
tempDF.sort_values(by="DollarMilesRatio")

                        Total  Distance  DollarMilesRatio
Restaurant Name
Yukiya Sushi             8.25      10.8          0.763889
Pedro's Tacos            7.00       7.9          0.886076
Papa Johns               5.00       4.9          1.020408
Little Caesars           8.25       7.9          1.044304
Urban Plates            21.50      20.4          1.053922
...                       ...       ...               ...
Ohana Hawaiian BBQ       8.25       1.8          4.583333
Wings-N-Things           9.00       1.7          5.294118
Round Table Pizza        9.75       1.4          6.964286
Rim Talay Thai Cuisine  11.50       1.6          7.187500
Sunshine Kitchen        12.75       1.6          7.968750

[104 rows x 3 columns]

In [237]:
sheets_DaysDF.max() #would be useful with more attributes converted to float

/tmp/ipykernel_5390/842620842.py:1: FutureWarning: The default value of numeric_only in DataFrame.max is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  sheets_DaysDF.max() #would be useful with more attributes converted to float

Date             7/8
Total         333.57
Base           191.5
Tip           149.53
Start (24)     18:58
End (24)        2:32
Active          9.67
Dash            13.6
Offers            32
Deliveries        33
Version            3
dtype: object

In [238]:
#Avg tip vs Avg tip excluding zero tip orders

TipAvg = sheets_result["Tip"].mean()
print(TipAvg)
TipAvg2 = sheets_result[sheets_result["Tip"] !=0]["Tip"].mean()
print(TipAvg2)

4.111440162271806
4.544708520179372

In [239]:
#CONVERT STRING OF DATE TO TIMESTAMP, THEN TIMESTAMP TO DATETIME
date_to_timestamp(sheets_DaysDF, "Date")
sheets_DaysDF["Date"] = pd.to_datetime(sheets_DaysDF["Date"])

In [240]:
#Adds column to DaysDF for the day of the week (Monday, Thursday, etc.)
sheets_DaysDF["Day of Week"] = sheets_DaysDF["Date"].dt.day_name()

In [241]:
#hours_to_floats(sheets_DaysDF, ["Dash"])
#dollars_to_floats(sheets_DaysDF, ["Total", "Base", "Tip"])

In [242]:
sheets_DaysDF = sheets_DaysDF.groupby(["Day of Week"]).agg(
    {"Dash": "sum", "Total": "sum", "Tip": "sum", "Deliveries": "sum"})
sheets_DaysDF = sheets_DaysDF.round({'Dash': 2, 'Total': 2, "Tip": 2})
sheets_DaysDF["$/hr"] = sheets_DaysDF["Total"]/sheets_DaysDF["Dash"]
sheets_DaysDF["AvgTip"] = sheets_DaysDF["Tip"]/sheets_DaysDF["Deliveries"]
display(sheets_DaysDF)

               Dash    Total      Tip  Deliveries       $/hr    AvgTip
Day of Week
Friday       121.42  2706.85  1245.35         286  22.293280  4.354371
Monday        17.85   377.47   158.97          41  21.146779  3.877317
Saturday     101.93  2311.45  1022.95         240  22.676837  4.262292
Sunday        45.36  1083.78   507.03         111  23.892857  4.567838
Thursday      68.26  1436.96   611.71         164  21.051275  3.729939
Wednesday     67.81  1256.62   507.87         143  18.531485  3.551538