In [50]:
import pandas as pd
DelDF = pd.read_csv('Deliveries.csv')
OldDelDF = pd.read_csv('DeliveriesOld.csv')
DaysDF = pd.read_csv('Days.csv')
WeeksDF = pd.read_csv('Weeks.csv')
gpsDF = pd.read_csv('GPS.csv')

In [51]:
def dollars_to_floats(df, columns):
    for x in columns:
        print(x)
        df[x] = df[x].str.replace('$', '')
        df[x] = df[x].str.replace(',', '')
        df[x] = df[x].astype(float)

In [52]:
frames = [OldDelDF, DelDF]
result = pd.concat(frames)

In [53]:
result["Pay"] = result["Pay"].str.replace('$', '')
result["Tip"] = result["Tip"].str.replace('$', '')
result["Total"] = result["Total"].str.replace('$', '')
result["Peak Bonus"] = result["Peak Bonus"].str.replace('$', '')

result["Total"] = result["Total"].astype('float')
result["Pay"] = result["Pay"].astype('float')
result["Tip"] = result["Tip"].astype('float')
result["Peak Bonus"] = result["Peak Bonus"].astype('float')

/tmp/ipykernel_38132/1330755715.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  result["Pay"] = result["Pay"].str.replace('$', '')
/tmp/ipykernel_38132/1330755715.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  result["Tip"] = result["Tip"].str.replace('$', '')
/tmp/ipykernel_38132/1330755715.py:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  result["Total"] = result["Total"].str.replace('$', '')
/tmp/ipykernel_38132/1330755715.py:4: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  result["Peak Bonus"] = result["Peak Bonus"].str.replace('$', '')

In [54]:
result1 = result[result["Version"] == 1.0]
result2 = result[result["Version"] == 2.0]
result3 = result[result["Version"] == 3.0]

In [55]:
resultAVG = result.groupby(["Restaurant Name"]).agg({"Pay": "mean", "Tip": "mean"})
resultSUM = result.groupby(["Restaurant Name"]).agg({"Pay": "sum", "Tip": "sum"})

resultAVG = resultAVG.round({'Pay': 2, 'Tip': 2})
resultSUM = resultSUM.round({'Pay': 2, 'Tip': 2})

In [56]:
numUntipped = (result["Tip"] == 0.0).sum()
print(numUntipped)
numTipped = (result["Tip"] != 0.0).sum()
print(numTipped)
percTipped = (numTipped/(numUntipped+numTipped))
print(percTipped)

77
597
0.8857566765578635

In [57]:
# 88.58% of customers tip

In [58]:
#Doodle that converts 'Date' attribute to Timestamp object
#Might be easiest way to extract day of the week from the string given in 'Date'

from datetime import date, time

datevar = result.iloc[600]["Date"]
timevar = result.iloc[600]["Start Time"]
print(datevar, " ", timevar)
datevar1 = '2023/' + datevar + " " + timevar
datevar1 = pd.Timestamp(datevar1)
print(datevar1)
print(datevar1.day_name())
print(type(datevar1))

5/27   7:19:00 PM
2023-05-27 19:19:00
Saturday
<class 'pandas._libs.tslibs.timestamps.Timestamp'>

In [59]:
result.dtypes
#So after parsing string '$##.##' to float we have
#Date which could be a date instead
#STart/End time which could be a time instead
#Miles which should be a float
#Duration which should be an int
#And Rest name and stacked which sort of need to be strings

ID                   int64
Date                object
Restaurant Name     object
Total              float64
Pay                float64
Tip                float64
Peak Bonus         float64
Stacked             object
Version            float64
Start Time          object
Miles               object
End Time            object
Est. Duration       object
dtype: object

In [60]:
#We can convert all dates, but start/end time is a v3 thing, so only convert when version == 3
datetest = result.iloc[600]["Date"] + "/2023"
timetest = result.iloc[600]["Start Time"]
datetest = pd.to_datetime(datetest, format="%m/%d/%Y")
print(type(datetest))
print(datetest.strftime('%m-%d'), timetest)

#So maybe what we want to do, is convert date, start, end to datetime, exclude v1/v2 for start/end related analysis
#now try convert start time to date time
timetest1 = pd.to_datetime(timetest)
print(timetest1)

#interesting, it automatically uses the current date without an existing date
#maybe we just convert both to datetime, then use datetime.date for one and datetime.time for the other

print(timetest1.hour, timetest1.minute, datetest.month, datetest.day)
datetimetest = pd.Timestamp.combine(date(datetest.year, datetest.month, datetest.day), time(timetest1.hour, timetest1.minute))
print(datetimetest)
print(type(datetimetest))

#Okay so that's how we can get the timestamp for date and for time, that leaves miles and duration to check

<class 'pandas._libs.tslibs.timestamps.Timestamp'>
05-27 7:19:00 PM
2023-06-18 19:19:00
19 19 5 27
2023-05-27 19:19:00
<class 'pandas._libs.tslibs.timestamps.Timestamp'>

In [61]:
#check miles and duration
a1 = result["Miles"].unique()
print(a1)

a2 = result["Est. Duration"].unique()
print(a2)

[nan '6.2' '2.9' '5.5' '3.1' '3.3' '7.1' '4.84' '5.2' '3.7' '4.7' '3.0'
 '5.9' '5.1' '-' '8.2' '6.1' '7.2' '3.2' '2.6' '2.4' '9.5' '8.3' '2.3'
 '6.9' '4.5' '7.7' '2.5' '5.0' '1.8' '4.0' '7.3' '6.3' '5.3' '7.5' '2.0'
 '3.4' '3.6' '4.2' '6.0' '2.7' '7.4' '10.1' '8.0' '15.9' '7.6' '6.5' '4.4'
 '1.9' '4.3' '4.1' '1.4' '4.8' '1.2' '6.8' '10.2' '12.1']
[nan '30' '20' '28' '34' '25' '35' '15' '26' '18' '29' '32' '-' '41' '33'
 '21' '23' '17' '22' '37' '39' '19' '12' '52' '16' '27' '13' '14' '10']

In [62]:

gpsDF1 = gpsDF[["ID", "Date", "Restaurant Name", "RAW DATA"]].copy()
gpsDF2 = gpsDF1[["Restaurant Name", "RAW DATA"]].copy()
gpsDF2 = gpsDF2.drop_duplicates(subset=["Restaurant Name", "RAW DATA"])
gpsDF2

              Restaurant Name                              RAW DATA
0          Erika's Restaurant  Erika's Mexican Food & Seafood Vista
1                 Chick-fil-A                   Chick-fil-A (01507)
2                     Wendy's                        Wendy's (8407)
3    Annam Pho and Sandwiches   Annam Pho and Sandwiches (Plaza Dr)
4                    Disfruta                  Disfruta (Oceanside)
..                        ...                                   ...
688      Big Bob's Best Pizza                  Big Bob's Best Pizza
696          ???(tacobell)???         CCC0005121 (3845 Plaza Drive)
703                  Del Taco                       Del Taco (1305)
704       ??(other taco bell)    CCC0005121 (695 College Boulevard)
713           Graziano's Piza          Graziano's Pizza (Oceanside)

[204 rows x 2 columns]

In [63]:
gpsDF2 = gpsDF2.sort_values(by="Restaurant Name", ascending=True)
gpsDF2.to_csv('gpsDF2.csv')

In [64]:
tempDF = result[result["Peak Bonus"] != 0 ]
tempDF.shape
#Well if we only have 45 peak bonus orders that probably isn't enough to make insights from
#But also, I really dont like working at 1am-3am so, we might just drop those insights for now

(45, 13)

In [65]:
tempDF = result[result["Restaurant Name"].duplicated() == True]
tempDF
#shows only restaurants with more than one entry. sort of interesting, about 140 one visits

,ID,Date,Restaurant Name,Total,Pay,Tip,Peak Bonus,Stacked,Version,Start Time,Miles,End Time,Est. Duration
9,11,3/31,Chick-fil-A,7.50,6.50,1.0,0.0,NaN,1.0,NaN,NaN,NaN,NaN
14,16,3/31,Chick-fil-A,8.50,4.00,4.5,0.0,NaN,1.0,NaN,NaN,NaN,NaN
17,19,3/31,PanPan Wok,4.25,3.25,1.0,0.0,18.0,1.0,NaN,NaN,NaN,NaN
19,21,3/31,McDonald's,12.00,4.00,8.0,0.0,NaN,1.0,NaN,NaN,NaN,NaN
20,22,3/31,McDonald's,5.25,3.25,2.0,0.0,NaN,1.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,670,6/4,Annam Pho and Sandwiches,8.00,4.00,4.0,0.0,NaN,3.0,6:02:00 PM,2.5,6:19:00 PM,17
96,671,6/4,Popeyes,7.25,5.25,2.0,0.0,NaN,3.0,7:35:00 PM,4.0,7:49:00 PM,14
98,673,6/4,Urban Plates,11.25,5.25,6.0,0.0,672,3.0,6:54:00 PM,10.2,7:27:00 PM,33
99,674,6/4,Los Tacos,6.75,3.25,3.5,0.0,NaN,3.0,7:54:00 PM,2.0,8:04:00 PM,10
100,675,6/4,Savory Thai,17.50,12.50,5.0,0.0,NaN,3.0,6:21:00 PM,12.1,6:51:00 PM,30

In [66]:
tempDF = result[result["Restaurant Name"].duplicated() == False]
tempDF

,ID,Date,Restaurant Name,Total,Pay,Tip,Peak Bonus,Stacked,Version,Start Time,Miles,End Time,Est. Duration
0,2,3/27,Erika's Restaurant,6.75,5.25,1.50,0.0,NaN,1.0,NaN,NaN,NaN,NaN
1,3,3/27,Chick-fil-A,8.00,4.50,3.50,0.0,NaN,1.0,NaN,NaN,NaN,NaN
2,4,3/27,Wendy's,7.00,3.00,4.00,0.0,NaN,1.0,NaN,NaN,NaN,NaN
3,5,3/27,Annam Pho and Sandwiches,7.00,7.00,0.00,0.0,NaN,1.0,NaN,NaN,NaN,NaN
4,6,3/31,Disfruta,4.75,3.75,1.00,0.0,NaN,1.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
19,594,5/26,Little Caesars,6.50,3.50,3.00,0.0,NaN,3.0,-,-,-,-
34,609,5/27,Maans Mediterranean Grill,12.00,5.50,6.50,0.0,598,3.0,8:35:00 PM,7.2,9:14:00 PM,39
80,655,6/3,Chef Tang,27.00,14.00,13.00,0.0,NaN,3.0,6:24:00 PM,15.9,6:58:00 PM,34
88,663,6/3,Wingstop Drive,9.54,6.25,3.29,0.0,NaN,3.0,7:04:00 PM,4.3,7:25:00 PM,21
97,672,6/4,Urban Plates,10.25,5.25,5.00,0.0,673,3.0,6:54:00 PM,10.2,7:27:00 PM,33

In [67]:
#Okay so for some reason it gets to 572 then resets to 0 - 100
#is v3 really 100 exactly?
#No, old goes to 574, new starts at 575 and goes to 716
#I guess it would have kept the index from combining olddel and del, so we should try that and rework
result.reset_index(drop=True, inplace=True)

In [68]:
#pd.set_option('display.max_rows', None)
#display(result["Restaurant Name"])
#pd.reset_option('all')

0                        Erika's Restaurant
1                               Chick-fil-A
2                                   Wendy's
3                  Annam Pho and Sandwiches
4                                  Disfruta
5                             El Pollo Loco
6               Handel's Homemade Ice Cream
7                                   Denny's
8                          Graziano's Pizza
9                               Chick-fil-A
10                             Pick Up Stix
11                            The Poke Cafe
12                             Pollos Maria
13                      Valerie's Taco Shop
14                              Chick-fil-A
15                          Love Boat Sushi
16                               PanPan Wok
17                               PanPan Wok
18                               McDonald's
19                               McDonald's
20                               McDonald's
21                               McDonald's
22                              Savory Thai
23                       Dave's Hot Chicken
24      North Park Produce Bakery and Grill
25                       Dave's Hot Chicken
26                                Taco Bell
27        The Draft Restaurant & Sports Bar
28                             The Meltdown
29               Maan's Mediterranean Grill
30                             The Meltdown
31               Maan's Mediterranean Grill
32                             Pollos Maria
33                     Enzo's BBQ Ale House
34                                 Chipotle
35                             Pollos Maria
36                   The Cheesecake Factory
37                          Jack in the Box
38                                Taco Bell
39                              Wild Burger
40                    Felix's BBQ With Soul
41                          Jack in the Box
42                                 7-Eleven
43                                Taco Bell
44                          Jack in the Box
45                               McDonald's
46               Umi Japanese Grill & Sushi
47                                      KFC
48                         Sunshine Kitchen
49                      Chili's Grill & Bar
50                                  Wendy's
51                                 7-Eleven
52                                Taco Bell
53                             Harney Sushi
54                          Jack in the Box
55                                 7-Eleven
56                          Hooked on Sushi
57                                  Wendy's
58                                 Wingstop
59                          Jack in the Box
60                               Carl's Jr.
61                           Crumbl Cookies
62                           Crumbl Cookies
63                                 7-Eleven
64                    Mountain Mike's Pizza
65                                Taco Bell
66                                Taco Bell
67                                 Disfruta
68                 Sabai Sabai Thai Kitchen
69                           Firehouse Subs
70                          Love Boat Sushi
71                          Love Boat Sushi
72                               McDonald's
73                          Jack in the Box
74              Rancho Viejo Mexican Food 2
75                              Chick-fil-A
76             The Privateer Coal Fire Pizz
77                                 7-Eleven
78           Thai Thai Oceanside Restaurant
79                     Cafe de Thai & Sushi
80                 Annam Pho and Sandwiches
81                                 Chipotle
82                    Felix's BBQ With Soul
83                               McDonald's
84                            Panda Express
85            Two Brothers From Italy Pizza
86                                Pizza Hut
87                            Panda Express
88                           Lollicup Fresh
89                             China Fusion
90                                  Sizzler
91                     Enzo's BBQ Ale House
92                                 7-Eleven
93                                Taco Bell
94                       Dave's Hot Chicken
95                       Jersey Mike's Subs
96                              Korea House
97                     Little Caesars Pizza
98                                Taco Bell
99                                Taco Bell
100                                Disfruta
101                              McDonald's
102                    Little Caesars Pizza
103                     Valerie's Taco Shop
104                     Valerie's Taco Shop
105                               El Bronco
106                  Applebee's Grill & Bar
107                     Brooklyn Boyz Pizza
108                                Ding Tea
109                         Hooked on Sushi
110                             Chick-fil-A
111                 Eriberto's Mexican Food
112                               Starbucks
113                   L&L Hawaiian Barbecue
114                Annam Pho and Sandwiches
115                                 Popeyes
116                              McDonald's
117                       Pick Up Stix(SOF)
118                              PanPan Wok
119                             Chick-fil-A
120                              Carl's Jr.
121                        Super Mega Dilla
122                               Taco Bell
123                       Upper Crust Pizza
124                                Ding Tea
125                             Chick-fil-A
126                          Board and Brew
127                      Ohana Hawaiian BBQ
128                           The Poke Cafe
129                              PanPan Wok
130                           The Poke Cafe
131                                Chipotle
132                               Pizza Hut
133                              McDonald's
134                           The Poke Cafe
135                             La Hacienda
136                             Chick-fil-A
137                          Board and Brew
138                                7-Eleven
139                                 Denny's
140                              McDonald's
141                      Ocean Thai Cuisine
142                              McDonald's
143                            The Meltdown
144                                Chipotle
145                          Beach Hut Deli
146                           The Poke Cafe
147                                Chipotle
148                            Pick Up Stix
149                        Acai Superfruits
150                          Gianni's Pizza
151                           El Pollo Loco
152                              McDonald's
153                             Chick-fil-A
154                 One Love Island Cuisine
155                                Chipotle
156                                 Popeyes
157                          Sonic Drive-in
158                          Board and Brew
159                         TZONE Oceanside
160                      Jersey Mike's Subs
161                           El Pollo Loco
162                                Chipotle
163                                7-Eleven
164                             Chick-fil-A
165                            Habit Burger
166                            China Fusion
167                         Wienerschnitzel
168                              PanPan Wok
169                            Pizza on tap
170                            Pizza on tap
171                              McDonald's
172                              McDonald's
173                           El Pollo Loco
174                      Jersey Mike's Subs
175                                 Popeyes
176                                Ding Tea
177                              McDonald's
178                              McDonald's
179                              McDonald's
180                      Dave's Hot Chicken
181                                   PETCO
182                         Chin's Szechwan
183                              McDonald's
184                                Ding Tea
185                             Broken Yolk
186                               El Bronco
187                 Eriberto's Mexican Food
188                       Maui Hawaiian BBQ
189                              PanPan Wok
190                             Chick-fil-A
191                 Deiberto's Mexican Food
192                          Crumbl Cookies
193                 Eriberto's Mexican Food
194                             Chick-fil-A
195                      Ohana Hawaiian BBQ
196                             Chick-fil-A
197                              McDonald's
198                                   Chick
199                                 Popeyes
200                               Taco Bell
201                            Pick Up Stix
202                                     KFC
203                      Ohana Hawaiian BBQ
204                                Chipotle
205                              McDonald's
206          Thai Thai Oceanside Restaurant
207                    Little Caesars Pizza
208                              McDonald's
209                           Panda Express
210                     Valerie's Taco Shop
211                              Epic Wings
212          Thai Thai Oceanside Restaurant
213                      Dave's Hot Chicken
214                            Krispy Kreme
215                      Dave's Hot Chicken
216                       Hunter Steakhouse
217                             Broken Yolk
218                    Little Caesars Pizza
219                               Taco Bell
220                                Chipotle
221        Guanatos City Mexican Restaurant
222                  Killer Pizza From Mars
223                   Mountain Mike's Pizza
224                             Chick-fil-A
225                             Chick-fil-A
226                    Little Caesars Pizza
227                      Jersey Mike's Subs
228                               Taco Bell
229                         Jack in the Box
230                           The Poke Cafe
231                         Jack in the Box
232                             Chick-fil-A
233                               Taco Bell
234                             Chick-fil-A
235                        Sunshine Kitchen
236                           El Pollo Loco
237                            China Fusion
238                             Chick-fil-A
239                                 Popeyes
240               TenderFix by Noah Schnapp
241                     Valerie's Taco Shop
242                               Taco Bell
243                            Pollos Maria
244                                Chipotle
245                          Firehouse Subs
246                                 Popeyes
247                         Tapioca Express
248                             Burger King
249    Anita's Mexican Restaurant & Cantina
250                             Broken Yolk
251                              McDonald's
252                              McDonald's
253                            Pollos Maria
254                           El Pollo Loco
255                              PanPan Wok
256                         Love Boat Sushi
257                          Board and Brew
258                  The Habit Burger Grill
259                             Chick-fil-A
260                         Hooked on Sushi
261                                 Sizzler
262                     Chili's Grill & Bar
263                 One Love Island Cuisine
264                                Del Taco
265                     Valerie's Taco Shop
266                             Chick-fil-A
267                             Chick-fil-A
268                         Jack in the Box
269                         Hooked on Sushi
270                              McDonald's
271                               Poki Poki
272                                Del Taco
273                                Del Taco
274                          Firehouse Subs
275                                Chipotle
276                    Cafe de Thai & Sushi
277                     Valerie's Taco Shop
278                          Board and Brew
279                                Del Taco
280                               Taco Bell
281                               Taco Bell
282                                7-Eleven
283                              McDonald's
284                                Chipotle
285                       Upper Crust Pizza
286                         Jack in the Box
287                             Chick-fil-A
288                                 Wendy's
289                                7-Eleven
290                      Dave's Hot Chicken
291                             Chick-fil-A
292                                 Popeyes
293                             Chick-fil-A
294                               Taco Bell
295                       Greek Corner Cafe
296                         Jack in the Box
297                               Starbucks
298                Annam Pho and Sandwiches
299              Maan's Mediterranean Grill
300                             Chick-fil-A
301                                Chipotle
302            Ceja's Mexican Diner & Grill
303                            Turmeric Hut
304                                 Popeyes
305                   Felix's BBQ With Soul
306                               Poki Poki
307                              McDonald's
308                               El Bronco
309                             Chick-fil-A
310                             Savory Thai
311                 One Love Island Cuisine
312                              McDonald's
313                             Chick-fil-A
314                            The Meltdown
315                             Chick-fil-A
316                       Hunter Steakhouse
317                             Chick-fil-A
318                               Taco Bell
319                    Colimas Mexican Food
320                      Dave's Hot Chicken
321                             Chick-fil-A
322                      Ocean Thai Cuisine
323                    Cafe de Thai & Sushi
324                           El Pollo Loco
325                                Chipotle
326                         Jack in the Box
327                              McDonald's
328                      Dave's Hot Chicken
329                               El Bronco
330                           El Pollo Loco
331                               Taco Bell
332                 Eriberto's Mexican Food
333                             Chick-fil-A
334    Anita's Mexican Restaurant & Cantina
335                          Gianni's Pizza
336                             Chick-fil-A
337                         Jack in the Box
338                      Buffalo Wild Wings
339                               Taco Bell
340                               Taco Bell
341                                7-Eleven
342                            Pick Up Stix
343                             Chick-fil-A
344                             Chick-fil-A
345                               Taco Bell
346                             Chick-fil-A
347                           El Pollo Loco
348                             Chick-fil-A
349                              McDonald's
350                      Ohana Hawaiian BBQ
351       The Draft Restaurant & Sports Bar
352                              McDonald's
353                              McDonald's
354                                 Wendy's
355                      Buffalo Wild Wings
356                      Dave's Hot Chicken
357                                7-Eleven
358                             Chick-fil-A
359                       Upper Crust Pizza
360       The Draft Restaurant & Sports Bar
361                    Enzo's BBQ Ale House
362                       Upper Crust Pizza
363                         Wienerschnitzel
364                                     KFC
365                               Taco Bell
366                      Dave's Hot Chicken
367       The Draft Restaurant & Sports Bar
368                            Pizza on tap
369                               Poki Poki
370              Maan's Mediterranean Grill
371                              McDonald's
372                   The Cheesesteak Grill
373                               Los Tacos
374                             Burger King
375                               Taco Bell
376                          Pit Stop Diner
377                               Taco Bell
378                                     KFC
379                         Hooked on Sushi
380                      Buffalo Wild Wings
381                                 Wendy's
382                                 Wendy's
383                           Panda Express
384                Annam Pho and Sandwiches
385                    Cafe de Thai & Sushi
386                             Chick-fil-A
387                      Ohana Hawaiian BBQ
388                             Chick-fil-A
389                             Chick-fil-A
390           The Privateer Coal Fire Pizza
391                  The Habit Burger Grill
392                               Poki Poki
393                             Chick-fil-A
394                            Corner Grill
395              GoGo Japan - Sushi & Bento
396                             Chick-fil-A
397                                Del Taco
398                             Chick-fil-A
399                 Deiberto's Mexican Food
400                           Panda Express
401                                     FTD
402                                     FTD
403                 Eriberto's Mexican Food
404                              McDonald's
405                      Dave's Hot Chicken
406                      Dave's Hot Chicken
407                 Deiberto's Mexican Food
408                      Dave's Hot Chicken
409                              McDonald's
410                               Taco Bell
411                               Taco Bell
412                      Dave's Hot Chicken
413                            Pick Up Stix
414                              Bloom Haus
415                                 Denny's
416                          Sonic Drive-In
417                               Starbucks
418                             Chick-fil-A
419                             Chick-fil-A
420                                Chipotle
421                Annam Pho and Sandwiches
422                                     KFC
423                      Dave's Hot Chicken
424                            Pizza on tap
425                       Maui Hawaiian BBQ
426                         Jack in the Box
427                          Firehouse Subs
428                              McDonald's
429                     Valerie's Taco Shop
430                               Taco Bell
431                               Taco Bell
432                                Chipotle
433                           El Pollo Loco
434                           Mangia e Bevi
435                             Chick-fil-A
436                              McDonald's
437                                Chipotle
438                                Ding Tea
439                                Chipotle
440                     Valerie's Taco Shop
441                              Applebee's
442                      Dave's Hot Chicken
443                             Chick-fil-A
444               Tony's Fresh Mexican Food
445                          Crumbl Cookies
446                                     KFC
447                              Applebee's
448                               Taco Bell
449                      Buffalo Wild Wings
450                     Valerie's Taco Shop
451                              McDonald's
452                         Jack in the Box
453                               Pho House

/tmp/ipykernel_38132/4110556550.py:3: FutureWarning: column_space is deprecated and will be removed in a future version. Use df.to_string(col_space=...) instead.
  pd.reset_option('all')
/tmp/ipykernel_38132/4110556550.py:3: FutureWarning: As the xlwt package is no longer maintained, the xlwt engine will be removed in a future version of pandas. This is the only engine in pandas that supports writing in the xls format. Install openpyxl and write to an xlsx file instead.
  pd.reset_option('all')
/tmp/ipykernel_38132/4110556550.py:3: FutureWarning:
: boolean
    use_inf_as_null had been deprecated and will be removed in a future
    version. Use `use_inf_as_na` instead.

  pd.reset_option('all')

In [69]:
#Okay thats sensible, the ID starts at 2 and the index starts at 0 and this isn't the latest csv
#pd.set_option('display.max_rows', None)
#display(result["Restaurant Name"].duplicated(keep=False) == False)
#pd.reset_option('all')

0       True
1      False
2      False
3      False
4      False
5      False
6       True
7      False
8      False
9      False
10     False
11     False
12     False
13     False
14     False
15     False
16     False
17     False
18     False
19     False
20     False
21     False
22     False
23     False
24      True
25     False
26     False
27     False
28     False
29     False
30     False
31     False
32     False
33     False
34     False
35     False
36      True
37     False
38     False
39      True
40     False
41     False
42     False
43     False
44     False
45     False
46      True
47     False
48     False
49     False
50     False
51     False
52     False
53      True
54     False
55     False
56     False
57     False
58      True
59     False
60     False
61     False
62     False
63     False
64     False
65     False
66     False
67     False
68      True
69     False
70     False
71     False
72     False
73     False
74      True
75     False
76      True
77     False
78     False
79     False
80     False
81     False
82     False
83     False
84     False
85      True
86     False
87     False
88      True
89     False
90     False
91     False
92     False
93     False
94     False
95     False
96      True
97     False
98     False
99     False
100    False
101    False
102    False
103    False
104    False
105    False
106     True
107     True
108    False
109    False
110    False
111    False
112    False
113     True
114    False
115    False
116    False
117     True
118    False
119    False
120    False
121     True
122    False
123    False
124    False
125    False
126    False
127    False
128    False
129    False
130    False
131    False
132    False
133    False
134    False
135     True
136    False
137    False
138    False
139    False
140    False
141    False
142    False
143    False
144    False
145     True
146    False
147    False
148    False
149     True
150    False
151    False
152    False
153    False
154    False
155    False
156    False
157     True
158    False
159     True
160    False
161    False
162    False
163    False
164    False
165     True
166    False
167    False
168    False
169    False
170    False
171    False
172    False
173    False
174    False
175    False
176    False
177    False
178    False
179    False
180    False
181     True
182    False
183    False
184    False
185    False
186    False
187    False
188    False
189    False
190    False
191    False
192    False
193    False
194    False
195    False
196    False
197    False
198     True
199    False
200    False
201    False
202    False
203    False
204    False
205    False
206    False
207    False
208    False
209    False
210    False
211     True
212    False
213    False
214     True
215    False
216    False
217    False
218    False
219    False
220    False
221     True
222     True
223    False
224    False
225    False
226    False
227    False
228    False
229    False
230    False
231    False
232    False
233    False
234    False
235    False
236    False
237    False
238    False
239    False
240     True
241    False
242    False
243    False
244    False
245    False
246    False
247     True
248    False
249    False
250    False
251    False
252    False
253    False
254    False
255    False
256    False
257    False
258    False
259    False
260    False
261    False
262    False
263    False
264    False
265    False
266    False
267    False
268    False
269    False
270    False
271    False
272    False
273    False
274    False
275    False
276    False
277    False
278    False
279    False
280    False
281    False
282    False
283    False
284    False
285    False
286    False
287    False
288    False
289    False
290    False
291    False
292    False
293    False
294    False
295     True
296    False
297    False
298    False
299    False
300    False
301    False
302     True
303     True
304    False
305    False
306    False
307    False
308    False
309    False
310    False
311    False
312    False
313    False
314    False
315    False
316    False
317    False
318    False
319    False
320    False
321    False
322    False
323    False
324    False
325    False
326    False
327    False
328    False
329    False
330    False
331    False
332    False
333    False
334    False
335    False
336    False
337    False
338    False
339    False
340    False
341    False
342    False
343    False
344    False
345    False
346    False
347    False
348    False
349    False
350    False
351    False
352    False
353    False
354    False
355    False
356    False
357    False
358    False
359    False
360    False
361    False
362    False
363    False
364    False
365    False
366    False
367    False
368    False
369    False
370    False
371    False
372     True
373    False
374    False
375    False
376    False
377    False
378    False
379    False
380    False
381    False
382    False
383    False
384    False
385    False
386    False
387    False
388    False
389    False
390    False
391    False
392    False
393    False
394    False
395    False
396    False
397    False
398    False
399    False
400    False
401    False
402    False
403    False
404    False
405    False
406    False
407    False
408    False
409    False
410    False
411    False
412    False
413    False
414     True
415    False
416     True
417    False
418    False
419    False
420    False
421    False
422    False
423    False
424    False
425    False
426    False
427    False
428    False
429    False
430    False
431    False
432    False
433    False
434     True
435    False
436    False
437    False
438    False
439    False
440    False
441    False
442    False
443    False
444     True
445    False
446    False
447    False
448    False
449    False
450    False
451    False
452    False
453    False
454    False
455    False
456    False
457    False
458    False
459    False
460    False
461    False
462    False
463    False
464    False
465    False
466    False
467    False
468    False
469    False
470    False
471    False
472    False
473    False
474    False
475    False
476     True
477    False
478    False
479    False
480    False
481    False
482    False
483    False
484    False
485    False
486    False
487    False
488    False
489    False
490    False
491     True
492    False
493    False
494    False
495    False
496    False
497    False
498    False
499    False
500    False
501    False
502    False
503    False
504    False
505    False
506     True
507    False
508     True
509    False
510    False
511    False
512    False
513    False
514    False
515    False
516    False
517    False
518    False
519    False
520    False
521    False
522    False
523    False
524    False
525    False
526    False
527     True
528    False
529     True
530    False
531    False
532    False
533    False
534    False
535    False
536    False
537    False
538    False
539    False
540    False
541     True
542    False
543    False
544     True
545    False
546    False
547    False
548    False
549    False
550     True
551     True
552    False
553    False
554    False
555    False
556     True
557    False
558    False
559    False
560    False
561    False
562    False
563    False
564    False
565    False
566    False
567    False
568    False
569    False
570    False
571    False
572    False
573    False
574    False
575    False
576    False
577    False
578    False
579    False
580    False
581    False
582    False
583    False
584    False
585    False
586     True
587    False
588     True
589    False
590     True
591    False
592     True
593    False
594    False
595    False
596    False
597    False
598    False
599    False
600    False
601    False
602    False
603    False
604    False
605    False
606    False
607     True
608    False
609    False
610    False
611    False
612    False
613    False
614    False
615    False
616    False
617    False
618    False
619    False
620    False
621    False
622    False
623    False
624    False
625    False
626    False
627    False
628    False
629    False
630    False
631    False
632    False
633    False
634    False
635    False
636    False
637    False
638    False
639    False
640    False
641    False
642    False
643    False
644    False
645    False
646    False
647    False
648    False
649    False
650    False
651    False
652    False
653     True
654    False
655    False
656    False
657    False
658    False
659    False
660    False
661     True
662    False
663    False
664    False
665    False
666    False
667    False
668    False
669    False
670    False
671    False
672    False
673    False
Name: Restaurant Name, dtype: bool

/tmp/ipykernel_38132/3878361758.py:4: FutureWarning: column_space is deprecated and will be removed in a future version. Use df.to_string(col_space=...) instead.
  pd.reset_option('all')
/tmp/ipykernel_38132/3878361758.py:4: FutureWarning: As the xlwt package is no longer maintained, the xlwt engine will be removed in a future version of pandas. This is the only engine in pandas that supports writing in the xls format. Install openpyxl and write to an xlsx file instead.
  pd.reset_option('all')
/tmp/ipykernel_38132/3878361758.py:4: FutureWarning:
: boolean
    use_inf_as_null had been deprecated and will be removed in a future
    version. Use `use_inf_as_na` instead.

  pd.reset_option('all')

In [70]:
#Okay so duplicated has two parameters, the second of which is keep
#We want keep=false, so that all restaurant names that exist more than once are flagged as duplicates
#keep=first is default, which seems silly over keep=false being default
#but keep=first doesn't flag the first as a duplicate
#I can see that being useful in certain contexts
#and strictly speaking, the rest would be duplicates of the original, which makes it fair to not consider the first
#as a duplicate
#but for what we want, keep=False

In [71]:
tempDF = result[result["Restaurant Name"].duplicated(keep=False) == False]

#So this is all the restaurants we've only gone to, why do I keep saying we
#This is all the places I've picked up from only once
#Except for the typos that haven't been updated out yet

#We're looking for highest and lowest tipping restaurants, so we actually want to look for the opposite of this set

In [72]:
tempDF = result[result["Restaurant Name"].duplicated(keep=False) == True]


#And we want to drop where tip == 0, actually no I think 0 tip should count as a tip value for lowest tipping customers
#So aggregate on restaurant name and sum for tip

In [73]:
tempDF = tempDF.groupby(["Restaurant Name"]).agg({"Pay": "mean", "Tip": "mean"})
tempDF = tempDF.round({'Pay': 2, 'Tip': 2})
tempDF.sort_values("Tip", ascending=False)

                                 Pay    Tip
Restaurant Name
Albertsons                      4.58  12.39
Hunter Steakhouse              10.00  11.50
Chin's Szechwan                 5.88   9.25
Mountain Mike's Pizza           4.88   8.25
The Privateer Coal Fire Pizza   5.12   8.00
...                              ...    ...
Panda Express                   4.21   1.75
Carl's Jr.                      4.38   1.50
Sizzler                        12.75   1.25
FTD                             3.25   0.00
Advanced Auto Parts             5.17   0.00

[82 rows x 2 columns]

In [74]:
#So we see car parts and flower orders as the only actual 0 tip
#Car parts seem to be a weird outsourced thing that runs through the delivery service
#FTD is a flower shop thing and I've only done two of those orders but uh
#Yeah no tip 
#On the other hand, grocery orders tip well, which makes sense because they are super obnoxious to handle
#compared to one bag of food from a store
#Hunters is probably the most expensive place i've picked up from, chin's also isn't especially cheap for the area
#And we see large avg tip values from two pizza places in the top 5
#I've done a few panda express orders so its a bit disappointing to see that value so low

In [75]:
#Overall hourly rate, Total from TOTALS / Dash
#We haven't converted to datetime yet so this will just be a rough draft
totalPay = WeeksDF.loc[10]["Total"]
print(totalPay)

totalPay = totalPay.replace('$', '')
totalPay = totalPay.replace(',', '')
totalPay = float(totalPay)

print(totalPay)

totalTime = WeeksDF.loc[10]["Dash"]
#This should be changed to take the full string, pass everything through to the first : as hours
#and everything between the first and second : as minutes
totalTimeH = totalTime[0:3]
totalTimeM = totalTime[4:6]
#okay so it includes the first position and does not include the second position, so its a [x, y) situation
totalTimeH = float(totalTimeH)
totalTimeM = float(totalTimeM)
print(totalTimeM)
totalTimeM = totalTimeM/60
print(totalTimeM)
totalTime = totalTimeH + totalTimeM
print(totalTime)

hourlyRate = totalPay/totalTime
print("$", hourlyRate, "per hour.")

$7,112.19
7112.19
59.0
0.9833333333333333
294.98333333333335
$ 24.110480818125314 per hour.

In [76]:
#Best and worst 'pretotal' vs 'active time'
WeeksDF["Pre Total"] = WeeksDF["Pre Total"].str.replace('$', '')
WeeksDF["Pre Total"] = WeeksDF["Pre Total"].str.replace(',', '')
WeeksDF["Pre Total"] = WeeksDF["Pre Total"].astype(float)
WeeksDF


#So float(var) converts, but series.astype(float) is for series in df

/tmp/ipykernel_38132/1848943084.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  WeeksDF["Pre Total"] = WeeksDF["Pre Total"].str.replace('$', '')

,Dates,Base,Tip,Adj pay,Other,Pre Total,Total,Active,Dash,Deliveries,Version
0,3/27 - 4/2,$108.50,$88.00,$40.96,$0.00,196.50,$237.46,6:42:00,10:55:00,22,1.0
1,4/3 - 4/9,$264.25,$230.69,$58.17,$0.00,494.94,$553.11,14:41:00,22:02:00,55,1.0
2,4/10 - 4/16,$130.75,$96.13,$61.07,$0.00,226.88,$287.95,8:38:00,11:10:00,28,1.0
3,4/17 - 4/23,$382.50,$248.41,$105.05,$0.00,630.91,$735.96,21:20:00,32:18:00,68,1.0
4,4/24 - 4/30,$430.00,$299.73,$138.76,$2.62,729.73,$871.11,25:30:00,41:10:00,84,1.0
5,5/1 - 5/7,$618.50,$445.32,$121.74,$0.00,1063.82,"$1,185.56",32:24:00,50:40:00,114,1.0
6,5/8 - 5/14,$758.25,$567.84,$155.48,$6.25,1326.09,"$1,487.82",40:35:00,58:08:00,138,2.0
7,5/15 - 5/21,$303.75,$239.25,$99.27,$0.00,543.00,$642.27,17:32:00,25:24:00,64,2.0
8,5/22 - 5/28,$205.50,$189.19,$63.63,$0.00,394.69,$458.32,11:39:00,16:40:00,38,3.0
9,5/29 - 6/4,$342.75,$309.88,$115.30,$0.00,652.63,$767.93,19:24:00,26:32:00,63,3.0
10,TOTALS:,"$3,544.75","$2,714.44",$844.13,$8.87,6259.19,"$7,112.19",198:25:00,294:59:00,674,NaN

In [77]:
tempX = WeeksDF.iloc[0]["Active"]
print(tempX)
tempX1 = tempX
tempX2 = tempX
tempX1 = tempX[:tempX.index(":")]
#print(tempX1)
tempX2 = tempX[tempX.index(":")+1:tempX.index(":")+3]
#print(tempX)
#print(tempX1)
#print(tempX2)
tempX1 = float(tempX1)
tempX2 = float(tempX2)
tempX2 = tempX2/60
tempX = tempX1 + tempX2
print(tempX)
tempY = float(WeeksDF.iloc[0]["Active"][:WeeksDF.iloc[0]["Active"].index(":")]) + float(WeeksDF.iloc[0]["Active"][WeeksDF.iloc[0]["Active"].index(":")+1:WeeksDF.iloc[0]["Active"].index(":")+3])/60
print(tempY)

#This was the greediest in line, just iterate through the columns and preserve your sanity please
#WeeksDF["Active"] = float(WeeksDF["Active"][:WeeksDF["Active"].index(":")]) + float(WeeksDF["Active"][WeeksDF["Active"].index(":")+1:WeeksDF["Active"].index(":")+3])/60
WeeksDF

6:42:00
6.7
6.7

,Dates,Base,Tip,Adj pay,Other,Pre Total,Total,Active,Dash,Deliveries,Version
0,3/27 - 4/2,$108.50,$88.00,$40.96,$0.00,196.50,$237.46,6:42:00,10:55:00,22,1.0
1,4/3 - 4/9,$264.25,$230.69,$58.17,$0.00,494.94,$553.11,14:41:00,22:02:00,55,1.0
2,4/10 - 4/16,$130.75,$96.13,$61.07,$0.00,226.88,$287.95,8:38:00,11:10:00,28,1.0
3,4/17 - 4/23,$382.50,$248.41,$105.05,$0.00,630.91,$735.96,21:20:00,32:18:00,68,1.0
4,4/24 - 4/30,$430.00,$299.73,$138.76,$2.62,729.73,$871.11,25:30:00,41:10:00,84,1.0
5,5/1 - 5/7,$618.50,$445.32,$121.74,$0.00,1063.82,"$1,185.56",32:24:00,50:40:00,114,1.0
6,5/8 - 5/14,$758.25,$567.84,$155.48,$6.25,1326.09,"$1,487.82",40:35:00,58:08:00,138,2.0
7,5/15 - 5/21,$303.75,$239.25,$99.27,$0.00,543.00,$642.27,17:32:00,25:24:00,64,2.0
8,5/22 - 5/28,$205.50,$189.19,$63.63,$0.00,394.69,$458.32,11:39:00,16:40:00,38,3.0
9,5/29 - 6/4,$342.75,$309.88,$115.30,$0.00,652.63,$767.93,19:24:00,26:32:00,63,3.0
10,TOTALS:,"$3,544.75","$2,714.44",$844.13,$8.87,6259.19,"$7,112.19",198:25:00,294:59:00,674,NaN

In [78]:

for index, row in WeeksDF.iterrows():
    #print(row["Active"])
    active = row["Active"]
    activeH = float(active[:active.index(":")])
    activeM = round(float(active[active.index(":")+1:active.index(":")+3])/60, 2)
    active = activeH + activeM
    #print(active)
    WeeksDF.at[index, "Active"] = active

In [79]:
#Okay now we have pre total and active in a format that allows for good math
WeeksDF["pretotalactiveratio"] = WeeksDF["Pre Total"]/WeeksDF["Active"]

In [80]:
WeeksDF.sort_values(by=["pretotalactiveratio"])
#right well its kind of interesting to see totals in the middle
#and it also looks like May had better ratios, which makes it seem like I'm getting better?
#better isn't a good characterization
#pre total is the money before adjustment, its just base pay + tip 
#so may having better base pay + tip / time actually spent on deliveries is interesting

,Dates,Base,Tip,Adj pay,Other,Pre Total,Total,Active,Dash,Deliveries,Version,pretotalactiveratio
2,4/10 - 4/16,$130.75,$96.13,$61.07,$0.00,226.88,$287.95,8.63,11:10:00,28,1.0,26.289687
4,4/24 - 4/30,$430.00,$299.73,$138.76,$2.62,729.73,$871.11,25.5,41:10:00,84,1.0,28.616863
0,3/27 - 4/2,$108.50,$88.00,$40.96,$0.00,196.50,$237.46,6.7,10:55:00,22,1.0,29.328358
3,4/17 - 4/23,$382.50,$248.41,$105.05,$0.00,630.91,$735.96,21.33,32:18:00,68,1.0,29.578528
7,5/15 - 5/21,$303.75,$239.25,$99.27,$0.00,543.00,$642.27,17.53,25:24:00,64,2.0,30.975471
10,TOTALS:,"$3,544.75","$2,714.44",$844.13,$8.87,6259.19,"$7,112.19",198.42,294:59:00,674,NaN,31.545157
6,5/8 - 5/14,$758.25,$567.84,$155.48,$6.25,1326.09,"$1,487.82",40.58,58:08:00,138,2.0,32.678413
5,5/1 - 5/7,$618.50,$445.32,$121.74,$0.00,1063.82,"$1,185.56",32.4,50:40:00,114,1.0,32.833951
9,5/29 - 6/4,$342.75,$309.88,$115.30,$0.00,652.63,$767.93,19.4,26:32:00,63,3.0,33.640722
1,4/3 - 4/9,$264.25,$230.69,$58.17,$0.00,494.94,$553.11,14.68,22:02:00,55,1.0,33.715259
8,5/22 - 5/28,$205.50,$189.19,$63.63,$0.00,394.69,$458.32,11.65,16:40:00,38,3.0,33.87897

In [81]:
#We want to Miles vs Total, miles only exists in v3
#display(DelDF)
v3DF = DelDF.copy()

v3DF["Total"] = v3DF["Total"].str.replace('$', '')
v3DF["Total"] = v3DF["Total"].str.replace(',', '')
v3DF["Total"] = v3DF["Total"].astype(float)
v3DF = v3DF[v3DF.Miles!="-"]
v3DF["Miles"] = v3DF["Miles"].astype(float)

#display(v3DF)
v3DF = v3DF.groupby(["Restaurant Name"]).agg({"Total": "sum", "Miles": "sum"})
v3DF = v3DF.round({'Pay': 2, 'Tip': 2})

v3DF["DollarMilesRatio"] = v3DF["Total"]/v3DF["Miles"]
v3DF.sort_values(by="DollarMilesRatio")

#display(v3DF)

#no no, we want to look at aggregate values, so sum pay vs sum miles

/tmp/ipykernel_38132/1666305466.py:5: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  v3DF["Total"] = v3DF["Total"].str.replace('$', '')

                                    Total  Miles  DollarMilesRatio
Restaurant Name
Urban Plates                        21.50  20.40          1.053922
7-Eleven                            20.00  18.40          1.086957
Colimas Mexican Food                 6.25   5.30          1.179245
Gianni's Pizza                      11.50   9.50          1.210526
Dashmart                             9.75   7.60          1.282895
Jack in the Box                     20.25  15.50          1.306452
Pizza on tap                        13.50  10.10          1.336634
China Fusion                        39.00  26.40          1.477273
Felix's BBQ With Soul               20.50  13.80          1.485507
Valerie's Taco Shop                  5.25   3.40          1.544118
The Draft Restaurant & Sports Bar   10.75   6.90          1.557971
Chipotle                             5.00   3.20          1.562500
Upper Crust Pizza                   32.00  20.30          1.576355
Poki Poki                           14.00   8.80          1.590909
Eriberto's Mexican Food             30.25  18.70          1.617647
Maans Mediterranean Grill           12.00   7.20          1.666667
Dave's Hot Chicken                  60.75  35.80          1.696927
Chef Tang                           27.00  15.90          1.698113
GoGo Japan - Sushi & Bento           9.00   5.20          1.730769
Ding Tea                            12.00   6.90          1.739130
Disfruta                             5.75   3.30          1.742424
Popeyes                              7.25   4.00          1.812500
Cornerstone Network, Inc.           10.94   5.90          1.854237
Chick-fil-A                        151.00  72.70          2.077029
Los Tacos                           47.75  22.60          2.112832
Savory Thai                         58.50  27.40          2.135036
Taco Bell                           58.75  26.64          2.205330
Wingstop Drive                       9.54   4.30          2.218605
Del Taco                             9.00   4.00          2.250000
Hooked on Sushi                     14.00   6.20          2.258065
Advanced Auto Parts                  7.00   3.10          2.258065
Burger King                         22.03   9.50          2.318947
El Pollo Loco                        7.25   3.10          2.338710
Buffalo Wild Wings                  12.75   5.00          2.550000
Enzo's BBQ Ale House                25.75   9.20          2.798913
Two Brothers From Italy              7.25   2.50          2.900000
Cusimano's Pizzeria                 21.39   7.34          2.914169
Corner Grill                         9.00   2.90          3.103448
Annam Pho and Sandwiches             8.00   2.50          3.200000
Punjabi Tandoor                     15.75   4.70          3.351064
Himalayn Bistro                     16.00   4.70          3.404255
Cafe de Thai & Sushi                12.75   3.70          3.445946
McDonald's                          48.75  13.20          3.693182
Wendy's                             16.00   4.20          3.809524
Albertsons                          34.17   8.80          3.882955
Pho House                           16.00   4.00          4.000000
Ohana Hawaiian BBQ                   8.25   1.80          4.583333

In [82]:
#well max() seems useful
DaysDF.max()
#DaysDF["Deliveries"]

Date                    6/4
Total                $86.13
Base                 $99.00
Tip                  $94.03
Start (24)            18:58
End (24)               2:32
Active time (h:m)      9:40
Dash time (h:m)        9:41
Offers                   32
Deliveries               33
Version                   3
Pauses                    2
dtype: object

In [83]:
#So we need to convert $ to float 
#Really we just need to make a function to convert time values to hour in float format and string values to float

In [84]:
TipAvg = result["Tip"].mean()
print(TipAvg)
TipAvg2 = result[result["Tip"] !=0]["Tip"].mean() #weird
print(TipAvg2)

4.027359050445104
4.54680067001675

In [85]:
tempDF = DelDF.copy()
listToPass = ["Total", "Pay", "Tip", "Peak Bonus"]

dollars_to_floats(tempDF, listToPass)
tempDF.dtypes
tempDF['Miles'].unique()

Total
Pay
Tip
Peak Bonus

/tmp/ipykernel_38132/57653493.py:4: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df[x] = df[x].str.replace('$', '')

array(['6.2', '2.9', '5.5', '3.1', '3.3', '7.1', '4.84', '5.2', '3.7',
       '4.7', '3.0', '5.9', '5.1', '-', '8.2', '6.1', '7.2', '3.2', '2.6',
       '2.4', '9.5', '8.3', '2.3', '6.9', '4.5', '7.7', '2.5', '5.0',
       '1.8', '4.0', '7.3', '6.3', '5.3', '7.5', '2.0', '3.4', '3.6',
       '4.2', '6.0', '2.7', '7.4', '10.1', '8.0', '15.9', '7.6', '6.5',
       '4.4', '1.9', '4.3', '4.1', '1.4', '4.8', '1.2', '6.8', '10.2',
       '12.1'], dtype=object)

In [86]:
print(tempDF.shape)
tempDF = tempDF[tempDF['Miles'] != '-']
print(tempDF.shape)
tempDF['Miles'].unique()



#okay there's just the one dash so we drop when it equals dash

(101, 13)
(100, 13)

array(['6.2', '2.9', '5.5', '3.1', '3.3', '7.1', '4.84', '5.2', '3.7',
       '4.7', '3.0', '5.9', '5.1', '8.2', '6.1', '7.2', '3.2', '2.6',
       '2.4', '9.5', '8.3', '2.3', '6.9', '4.5', '7.7', '2.5', '5.0',
       '1.8', '4.0', '7.3', '6.3', '5.3', '7.5', '2.0', '3.4', '3.6',
       '4.2', '6.0', '2.7', '7.4', '10.1', '8.0', '15.9', '7.6', '6.5',
       '4.4', '1.9', '4.3', '4.1', '1.4', '4.8', '1.2', '6.8', '10.2',
       '12.1'], dtype=object)

In [87]:
import numpy as np

#testingDF["Miles"] = tempDF["Miles"].applymap(np.isreal)
#tempDF["Miles"].applymap(lambda x: isinstance(x, (int, float)))
tempDF2 = tempDF[pd.to_numeric(tempDF['Miles'], errors='coerce').isnull()]['Miles'].unique()

In [88]:
tempDF['Miles'] = tempDF['Miles'].astype(float)
tempDF['Miles']

0       6.2
1       2.9
2       5.5
3       3.1
4       3.3
       ...
96      4.0
97     10.2
98     10.2
99      2.0
100    12.1
Name: Miles, Length: 100, dtype: float64

In [89]:
#DATETIME DOODLE

date = tempDF.iloc[-1]["Date"]
starttime = tempDF.iloc[-1]["Start Time"]
endtime = tempDF.iloc[-1]["End Time"]
print(date, starttime, endtime)
date = '2023/' + datevar + " " + starttime
date = pd.Timestamp(date)
starttime = date
endtime = '2023/' + datevar + " " + endtime
endtime = pd.Timestamp(endtime)
print("\n", date)
print(date.day_name())
print(starttime.minute)
print(endtime.minute)
#print(type(date))



#We can convert all dates, but start/end time is a v3 thing, so only convert when version == 3
#datetest = result.iloc[600]["Date"] + "/2023"
#timetest = result.iloc[600]["Start Time"]
#datetest = pd.Timestamp(datetest)
#datetest = pd.to_datetime(datetest, format="%m/%d/%Y")
#print(type(datetest))
#print(datetest.strftime('%m-%d'), timetest)
#type(datetest)

#So maybe what we want to do, is convert date, start, end to datetime, exclude v1/v2 for start/end related analysis
#now try convert start time to date time
#timetest1 = pd.to_datetime(timetest)
#print(timetest1)

#interesting, it automatically uses the current date without an existing date
#maybe we just convert both to datetime, then use datetime.date for one and datetime.time for the other

#datetimetest = pd.Timestamp.combine(date(datetest), time(timetest1))
#print(datetimetest)
#print(timetest1.hour, timetest1.minute, datetest.month, datetest.day)
#datetimetest = pd.Timestamp.combine(date(datetest.year, datetest.month, datetest.day), time(timetest1.hour, timetest1.minute))
#print(datetimetest)
#print(type(datetimetest))

#Okay so that's how we can get the timestamp for date and for time, that leaves miles and duration to check

6/4 6:21:00 PM 6:51:00 PM

 2023-05-27 18:21:00
Saturday
21
51

In [90]:
#DaysDF["Date"] = pd.Timestamp('2023/' + DaysDF["Date"])
#display(DaysDF)
#for index, row

for index, row in DaysDF.iterrows():
    #print(row["Active"])
    date = pd.Timestamp('2023/' + row["Date"])
    DaysDF.at[index, "Date"] = date

In [91]:
DaysDF["Date"] = pd.to_datetime(DaysDF["Date"])
DaysDF["Day of Week"] = DaysDF["Date"].dt.day_name()
#display(DaysDF)
#DaysDF.dtypes

,Date,Total,Base,Tip,Start (24),End (24),Active time (h:m),Dash time (h:m),Offers,Deliveries,Version,Pauses,Day of Week
0,2023-03-27,$28.75,$19.75,$9.00,11:53,14:06,1:19,2:12,4,4,1,1,Monday
1,2023-03-31,$167.75,$88.75,$79.00,13:07,21:52,5:22,8:45,17,18,1,1,Friday
2,2023-04-05,$36.00,$16.00,$20.00,14:12,15:38,1:04,1:26,4,4,1,1,Wednesday
3,2023-04-06,$100.25,$48.75,$51.50,16:30,21:05,3:00,4:35,9,10,1,1,Thursday
4,2023-04-07,$197.94,$117.75,$80.19,17:16,1:31,5:54,8:15,20,24,1,1,Friday
5,2023-04-08,$160.75,$81.75,$79.00,17:06,0:52,4:42,7:46,17,17,1,1,Saturday
6,2023-04-13,$86.13,$47.00,$39.13,17:29,21:14,2:58,3:45,11,12,1,1,Thursday
7,2023-04-14,$27.25,$20.75,$6.50,16:30,18:28,1:25,1:58,3,3,1,1,Friday
8,2023-04-16,$113.50,$63.00,$50.50,12:00,17:28,4:13,5:28,11,13,1,1,Sunday
9,2023-04-17,$107.22,$59.25,$47.97,15:56,20:45,3:14,4:49,10,10,1,1,Monday
10,2023-04-19,$148.47,$90.75,$57.72,11:57,20:06,4:39,8:09,15,15,1,1,Wednesday
11,2023-04-20,$161.08,$99.00,$62.08,12:01,20:03,5:41,8:02,16,18,1,1,Thursday
12,2023-04-21,$53.00,$38.00,$15.00,18:58,22:15,2:20,3:17,6,6,1,1,Friday
13,2023-04-22,$161.14,$95.50,$65.64,11:59,20:01,5:24,8:02,19,19,1,1,Saturday
14,2023-04-26,$166.41,$110.75,$55.66,11:31,23:31,6:36,12:00,19,20,1,1,Wednesday
15,2023-04-27,$64.50,$49.50,$15.00,14:52,19:21,2:37,4:29,9,9,1,1,Thursday
16,2023-04-28,$243.82,$128.75,$115.07,12:02,0:04,7:45,12:02,23,26,1,1,Friday
17,2023-04-29,$114.75,$67.75,$47.00,12:13,18:35,4:09,6:22,13,14,1,1,Saturday
18,2023-04-30,$140.25,$73.25,$67.00,12:12,18:28,4:23,6:16,14,15,1,1,Sunday
19,2023-05-03,$182.50,$114.00,$68.50,13:42,23:17,6:32,9:35,23,23,1,1,Wednesday
20,2023-05-04,$227.50,$141.00,$86.50,13:26,0:46,6:58,11:20,21,26,1,1,Thursday
21,2023-05-05,$240.48,$133.25,$107.23,12:22,0:31,7:13,12:09,22,24,1,1,Friday
22,2023-05-06,$303.36,$178.25,$125.11,12:56,2:32,9:01,13:36,30,31,1,1,Saturday
23,2023-05-07,$109.98,$52.00,$57.98,14:42,18:42,2:39,4:00,10,10,1,1,Sunday
24,2023-05-10,$204.99,$119.75,$85.24,12:42,23:31,6:36,10:49,22,22,2,2,Wednesday
25,2023-05-11,$260.25,$157.25,$103.00,12:42,1:30,8:41,12:47,26,30,2,2,Thursday
26,2023-05-12,$326.78,$177.25,$149.53,12:45,1:34,9:40,12:49,32,33,2,2,Friday
27,2023-05-13,$333.57,$191.50,$142.07,12:45,2:12,9:38,13:26,27,32,2,2,Saturday
28,2023-05-14,$200.50,$112.50,$88.00,12:25,20:41,5:58,8:16,20,21,2,2,Sunday
29,2023-05-17,$107.50,$66.75,$40.75,10:53,16:55,3:38,6:01,15,15,2,2,Wednesday
30,2023-05-18,$132.25,$73.75,$58.50,14:25,20:33,4:20,6:08,14,15,2,2,Thursday
31,2023-05-19,$202.50,$115.00,$87.50,12:32,22:14,6:45,9:41,20,25,2,2,Friday
32,2023-05-20,$100.75,$48.25,$52.50,16:26,19:58,2:47,3:32,8,9,2,2,Saturday
33,2023-05-26,$214.69,$109.50,$105.19,12:20,21:29,6:14,9:09,18,21,3,"(3:21pm, 3:45pm)",Friday
34,2023-05-27,$180.00,$96.00,$84.00,13:46,21:18,5:25,7:31,17,17,3,"(6:17pm, 6:38pm)",Saturday
35,2023-06-01,$135.75,$67.25,$68.50,16:02,21:50,3:54,5:47,11,14,3,0,Thursday
36,2023-06-02,$206.53,$112.50,$94.03,13:02,21:26,6:10,8:24,18,21,3,"(5:24pm, 5:53pm)",Friday
37,2023-06-03,$208.85,$105.00,$103.85,14:18,22:34,6:04,8:16,16,18,3,"(7:25pm, 7:47pm)",Saturday
38,2023-06-04,$101.50,$58.00,$43.50,16:47,20:50,3:15,4:03,9,10,3,0,Sunday

In [92]:
for index, row in DaysDF.iterrows():
    #print(row["Active"])
    active = row["Dash time (h:m)"]
    activeH = float(active[:active.index(":")])
    activeM = round(float(active[active.index(":")+1:active.index(":")+3])/60, 2)
    active = activeH + activeM
    #print(active)
    DaysDF.at[index, "Dash time (h:m)"] = active

In [93]:
DaysDF.dtypes

Date                 datetime64[ns]
Total                        object
Base                         object
Tip                          object
Start (24)                   object
End (24)                     object
Active time (h:m)            object
Dash time (h:m)              object
Offers                        int64
Deliveries                    int64
Version                       int64
Pauses                       object
Day of Week                  object
dtype: object

In [94]:
DaysDF["Dash time (h:m)"] = DaysDF["Dash time (h:m)"].astype(float)
DaysDF.dtypes

dollars_to_floats(DaysDF, ["Total", "Base", "Tip"])

DaysDF.dtypes

Total
Base
Tip

/tmp/ipykernel_38132/57653493.py:4: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df[x] = df[x].str.replace('$', '')

Date                 datetime64[ns]
Total                       float64
Base                        float64
Tip                         float64
Start (24)                   object
End (24)                     object
Active time (h:m)            object
Dash time (h:m)             float64
Offers                        int64
Deliveries                    int64
Version                       int64
Pauses                       object
Day of Week                  object
dtype: object

In [95]:
DaysDF = DaysDF.groupby(["Day of Week"]).agg(
    {"Dash time (h:m)": "sum", "Total": "sum", "Tip": "sum", "Deliveries ": "sum"})
DaysDF = DaysDF.round({'Dash time (h:m)': 2, 'Total': 2, "Tip": 2})
display(DaysDF)

#mean Tip is mean total tip not mean tip on the day of, which requires more work but its dinner time so I'll ignore it for now

#v3DF["DollarMilesRatio"] = v3DF["Total"]/v3DF["Miles"]
#v3DF.sort_values(by="DollarMilesRatio")

             Dash time (h:m)    Total     Tip  Deliveries
Day of Week
Friday                 86.48  1880.74  839.24          201
Monday                  7.02   135.97   56.97           14
Saturday               68.52  1563.17  699.17          157
Sunday                 28.06   665.73  306.98           69
Thursday               56.86  1167.71  484.21          134
Wednesday              48.00   845.87  327.87           99

In [96]:
DaysDF["$/hr"] = DaysDF["Total"]/DaysDF["Dash time (h:m)"]
display(DaysDF)

             Dash time (h:m)    Total     Tip  Deliveries        $/hr
Day of Week
Friday                 86.48  1880.74  839.24          201  21.747687
Monday                  7.02   135.97   56.97           14  19.368946
Saturday               68.52  1563.17  699.17          157  22.813339
Sunday                 28.06   665.73  306.98           69  23.725232
Thursday               56.86  1167.71  484.21          134  20.536581
Wednesday              48.00   845.87  327.87           99  17.622292

In [97]:
DaysDF["AvgTip"] = DaysDF["Tip"]/DaysDF["Deliveries "]
display(DaysDF)

,Dash time (h:m),Total,Tip,Deliveries,$/hr,AvgTip
Day of Week,,,,,,
Friday,86.48,1880.74,839.24,201,21.747687,4.175323
Monday,7.02,135.97,56.97,14,19.368946,4.069286
Saturday,68.52,1563.17,699.17,157,22.813339,4.453312
Sunday,28.06,665.73,306.98,69,23.725232,4.448986
Thursday,56.86,1167.71,484.21,134,20.536581,3.613507
Wednesday,48.00,845.87,327.87,99,17.622292,3.311818