In [1]:
import pandas as pd
DelDF = pd.read_csv('Deliveries.csv')
OldDelDF = pd.read_csv('DeliveriesOld.csv')
DaysDF = pd.read_csv('Days.csv')
WeeksDF = pd.read_csv('Weeks.csv')

In [5]:
OldDelDF.head()

,ID,Date,Restaurant Name,Total,Pay,Tip,Peak Bonus,Stacked,Version
0,2,3/27,Erika's Restaurant,$6.75,$5.25,$1.50,$0.00,NaN,1.0
1,3,3/27,Chick-fil-A,$8.00,$4.50,$3.50,$0.00,NaN,1.0
2,4,3/27,Wendy's,$7.00,$3.00,$4.00,$0.00,NaN,1.0
3,5,3/27,Annam Pho and Sandwiches,$7.00,$7.00,$0.00,$0.00,NaN,1.0
4,6,3/31,Disfruta,$4.75,$3.75,$1.00,$0.00,NaN,1.0

In [7]:
print(str(OldDelDF["Restaurant Name"].nunique()) + " " + str(DelDF["Restaurant Name"].nunique()))

132 48

In [8]:
frames = [OldDelDF, DelDF]
result = pd.concat(frames)

In [11]:
result["Restaurant Name"].nunique()

141

In [19]:
result["Pay"] = result["Pay"].str.replace('$', '')
result["Tip"] = result["Tip"].str.replace('$', '')
result["Total"] = result["Total"].str.replace('$', '')
result["Peak Bonus"] = result["Peak Bonus"].str.replace('$', '')

/tmp/ipykernel_12830/1212687638.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  result["Pay"] = result["Pay"].str.replace('$', '')
/tmp/ipykernel_12830/1212687638.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  result["Tip"] = result["Tip"].str.replace('$', '')
/tmp/ipykernel_12830/1212687638.py:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  result["Total"] = result["Total"].str.replace('$', '')
/tmp/ipykernel_12830/1212687638.py:4: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  result["Peak Bonus"] = result["Peak Bonus"].str.replace('$', '')

In [15]:
result.head()

,ID,Date,Restaurant Name,Total,Pay,Tip,Peak Bonus,Stacked,Version,Start Time,Miles,End Time,Est. Duration
0,2,3/27,Erika's Restaurant,6.75,5.25,1.50,$0.00,NaN,1.0,NaN,NaN,NaN,NaN
1,3,3/27,Chick-fil-A,8.00,4.50,3.50,$0.00,NaN,1.0,NaN,NaN,NaN,NaN
2,4,3/27,Wendy's,7.00,3.00,4.00,$0.00,NaN,1.0,NaN,NaN,NaN,NaN
3,5,3/27,Annam Pho and Sandwiches,7.00,7.00,0.00,$0.00,NaN,1.0,NaN,NaN,NaN,NaN
4,6,3/31,Disfruta,4.75,3.75,1.00,$0.00,NaN,1.0,NaN,NaN,NaN,NaN

In [29]:
result["Version"].unique()

array([ 1., nan,  2.,  3.])

In [17]:
result.dtypes

ID                   int64
Date                object
Restaurant Name     object
Total               object
Pay                 object
Tip                 object
Peak Bonus          object
Stacked             object
Version            float64
Start Time          object
Miles               object
End Time            object
Est. Duration       object
dtype: object

In [20]:
result["Total"] = result["Total"].astype('float')
result["Pay"] = result["Pay"].astype('float')
result["Tip"] = result["Tip"].astype('float')
result["Peak Bonus"] = result["Peak Bonus"].astype('float')

In [28]:
print(result.shape)
result1 = result[result["Version"] == 1.0]
print(result1.shape)
result2 = result[result["Version"] == 2.0]
print(result2.shape)
result3 = result[result["Version"] == 3.0]
print(result3.shape)

(674, 13)
(370, 13)
(202, 13)
(101, 13)

In [30]:
resultAVG = result.groupby(["Restaurant Name"]).agg({"Pay": "mean", "Tip": "mean"})
resultSUM = result.groupby(["Restaurant Name"]).agg({"Pay": "sum", "Tip": "sum"})
#Pay": "sum", "Tip": "sum",

In [31]:
resultAVG = resultAVG.round({'Pay': 2, 'Tip': 2})
resultSUM = resultSUM.round({'Pay': 2, 'Tip': 2})

In [32]:
resultAVG = resultAVG.sort_values("Tip", ascending=False)
resultAVG.head(20)

                                 Pay    Tip
Restaurant Name
Chef Tang                      14.00  13.00
Killer Pizza From Mars          4.25  12.50
Albertsons                      4.58  12.39
Brooklyn Boyz Pizza             5.25  12.15
Sabai Sabai Thai Kitchen        8.25  12.00
Hunter Steakhouse              10.00  11.50
Ceja's Mexican Diner & Grill    5.50  10.50
Mangia e Bevi                   6.75  10.00
L&L Hawaiian Barbecue           7.75  10.00
Punjabi Tandoor                 5.75  10.00
Joe's Crab Shack                9.00  10.00
Umi Japanese Grill & Sushi      3.25   9.50
Chin's Szechwan                 5.88   9.25
Himalayn Bistro                 7.00   9.00
Bloom Haus                      6.12   8.50
Mountain Mike's Pizza           4.88   8.25
Maan's Mediterranean Grill      5.81   8.00
The Privateer Coal Fire Pizza   5.12   8.00
Cusimano's Pizzeria             3.00   7.70
The Cheesesteak Grill           6.00   7.50

In [33]:
resultSUM.sort_values("Pay", ascending=False)

                                        Pay     Tip
Restaurant Name
Chick-fil-A                          428.25  272.01
Taco Bell                            216.87  158.70
McDonald's                           207.50  163.50
Dave's Hot Chicken                   142.25  133.00
Chipotle                             131.25  107.38
...                                     ...     ...
Umi Japanese Grill & Sushi             3.25    9.50
Pita Guys                              3.25    4.00
Pick Up Stix(SOF)                      3.25    2.02
Two Brothers From Italy Pizza          3.00    3.50
North Park Produce Bakery and Grill    3.00    2.00

[141 rows x 2 columns]

In [34]:
resultSUM.sort_values("Tip", ascending=False)

                                     Pay     Tip
Restaurant Name
Chick-fil-A                       428.25  272.01
McDonald's                        207.50  163.50
Taco Bell                         216.87  158.70
Dave's Hot Chicken                142.25  133.00
Chipotle                          131.25  107.38
...                                  ...     ...
Quik Wok                            6.50    0.00
Guanatos City Mexican Restaurant    4.00    0.00
TenderFix by Noah Schnapp           6.25    0.00
Advanced Auto Parts                15.50    0.00
Super Mega Dilla                    6.25    0.00

[141 rows x 2 columns]

In [36]:
sorted(result["Restaurant Name"].unique())

['7-Eleven',
 'Acai Superfruits',
 'Advanced Auto Parts',
 'Albertsons',
 "Anita's Mexican Restaurant & Cantina",
 'Annam Pho and Sandwiches',
 "Applebee's",
 "Applebee's Grill & Bar",
 'Beach Hut Deli',
 'Bloom Haus',
 'Board & Brew',
 'Board and Brew',
 'Broken Yolk',
 'Brooklyn Boyz Pizza',
 'Buffalo Wild Wings',
 'Burger King',
 'Cafe de Thai & Sushi',
 "Carl's Jr.",
 "Ceja's Mexican Diner & Grill",
 'Chef Tang',
 'Chick',
 'Chick-fil-A',
 "Chili's Grill & Bar",
 "Chin's Szechwan",
 'China Fusion',
 'Chipotle',
 'Colimas Mexican Food',
 'Corner Grill',
 'Cornerstone Network, Inc.',
 'Cream Of The Crop',
 'Crumbl Cookies',
 "Cusimano's Pizzeria",
 'Dashmart',
 "Dave's Hot Chicken",
 "Deiberto's Mexican Food",
 'Del Taco',
 "Denny's",
 'Ding Tea',
 'Disfruta',
 'El Bronco',
 'El Pollo Loco',
 "Enzo's BBQ Ale House",
 'Epic Wings',
 "Eriberto's Mexican Food",
 "Erika's Restaurant",
 'Everbowl',
 'FTD',
 "Felix's BBQ With Soul",
 'Firehouse Subs',
 "Gianni's Pizza",
 'GoGo Japan - Sushi & Bento',
 "Graziano's Pizza",
 'Greek Corner Cafe',
 'Guanatos City Mexican Restaurant',
 'Habit Burger',
 "Handel's Homemade Ice Cream",
 'Harney Sushi',
 'Himalayn Bistro',
 'Hooked on Sushi',
 'Hunter Steakhouse',
 'Jack in the Box',
 'Jamba',
 "Jersey Mike's",
 "Jersey Mike's Subs",
 "Joe's Crab Shack",
 'KFC',
 'Killer Pizza From Mars',
 'Korea House',
 'Krispy Kreme',
 'L&L Hawaiian Barbecue',
 'La Hacienda',
 'Little Caesars',
 'Little Caesars Pizza',
 'Lollicup Fresh',
 'Los Tacos',
 'Love Boat Sushi',
 "Maan's Mediterranean Grill",
 'Maans Mediterranean Grill',
 'Mangia e Bevi',
 'Maui Hawaiian BBQ',
 "McDonald's",
 'Mikko Sushi',
 "Mountain Mike's Pizza",
 'North Park Produce Bakery and Grill',
 'Ocean Thai Cuisine',
 'Ohana Hawaiian BBQ',
 'One Love Island Cuisine',
 'PETCO',
 'PanPan Wok',
 'Panda Express',
 'Pho House',
 'Pick Up Stix',
 'Pick Up Stix(SOF)',
 'Pit Stop Diner',
 'Pita Guys',
 'Pizza Hut',
 'Pizza on tap',
 'Poki Poki',
 'Pollos Maria',
 'Popeyes',
 'Punjabi Tandoor',
 'Quik Wok',
 'Rancho Viejo Mexican Food 2',
 "Rubio's",
 'Sabai Sabai Thai Kitchen',
 'Savory Thai',
 'Sizzler',
 'Sonic Drive-In',
 'Sonic Drive-in',
 'Starbucks',
 'Sunshine Kitchen',
 'Super Mega Dilla',
 'TZONE Oceanside',
 'Taco Bell',
 'Tapioca Express',
 'TenderFix by Noah Schnapp',
 'Thai Thai Oceanside Restaurant',
 'Thai Thai Oceanside restaurant',
 'The Cheesecake Factory',
 'The Cheesesteak Grill',
 'The Draft Restaurant & Sports Bar',
 'The Habit Burger Grill',
 'The Meltdown',
 'The Poke Cafe',
 'The Privateer Coal Fire Pizz',
 'The Privateer Coal Fire Pizza',
 "Tony's Fresh Mexican Food",
 'Turmeric Hut',
 'Two Brothers From Italy',
 'Two Brothers From Italy Pizza',
 'Umi Japanese Grill & Sushi',
 'Upper Crust Pizza',
 'Urban Plates',
 "Valerie's Taco Shop",
 'Village Kabob',
 "Wendy's",
 'Wienerschnitzel',
 'Wild Burger',
 'Wings-N-Things',
 'Wingstop',
 'Wingstop Drive']

In [ ]:
#Fix typos, for places with two names use whichever one is most recent

#Check the the's
## The Cheesecake Factory, The Cheesesteak Grill
# The Draft Restaurant & Sports bar, The Habit Burger Grill, The Meltdown, The Poke Cafe

#Things to fix:
#Applebee's || Applebee's Grill & Bar
#Board & Brew || Board and Brew
#Chick || Chick-fil-A
#Cornerstone Network, Inc. || Burger King
#Jersey Mike's || Jersey Mike's Subs
#Little Caesars || Little Caesars Pizza
#Maan's Mediterranean Grill || Maans Mediterranean Grill
#Pick Up Stix || Pick Up Stix(SOF)
#Sonic Drive-In || Sonic Drive-in
#Thai Thai Oceanside Restaurant || Thai Thai Oceanside restaurant
#The Privateer Coal Fire Pizz || The Privateer Coal Fire Pizza
#Two Brothers From Italy || Two Brothers From Italy Pizza
#Wingstop || Wingstop Drive